extends layout

block content
  .login
    input(placeholder='填入您的昵称')
    .button#login Login
  .center
    #content.content
    .sender
      textarea#sendTextarea
      .right
        #imgButton.button Image
        input(type='file')#inputImg.input-img
        #sendButton.button-inner Send
