extends layout

block content
  .login
    input(placeholder='填入您的昵称')
    .button#login Login
  .center
    .content
      .message-box 测试消息
      .left
        .user
          .avatar A
          .name AAA
        .text 测试
      .right
        .user
          .avatar B
          .name BBB
        .text 测试测试测试测试测试测试测试
      .left
        .user
          .avatar A
          .name AAA
        .text 测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试
      .left
        .user
          .avatar A
          .name AAA
        .text 测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试
      .right
        .user
          .avatar A
          .name AAA
        .text 测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试

    .sender
      textarea#sendTextarea
      .right
        .button#sendButton
        .button-inner Send
