extends layout

block content
  .login
    input(placeholder='填入您的昵称')
    .button#login Login
  .center
    #content.content
    #infoContent.content.none
      dl.user-list
        dt 在线用户
        div.list-inner
    .sender
      textarea#sendTextarea
      .right
        #menuButton.button Menu
        input(type='file')#inputImg.input-img
        .button-box
          #sendButton.button-inner.top Send
          #imgButton.button-inner.bottom Img
          
