doctype html
html
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet' type='text/css' href='/assets/style.css')
  body
    canvas#canvasBg
    block content
    script(src='http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js')
    script(src='/assets/script.js')
